<from class="system_tabs">
    <div class="easyui-tabs theme-tab-white-block tabs-container" data-option="tabPosition:'top',plain:true,justified:true">
        <div title="基础">
        </div>
        <div title="系统">
            <div class="group-label">
                <span class="luck-block">123123：</span>
                <input type="checkbox" name="[]" id="xx" ><label for="" style="padding:0 20px 0 5px;cursor: pointer;font-size: 14px;">xxx</label>
            </div>
        </div>
    </div>
    <div class="system_button">
        <button class="easyui-linkbutton button-blue l-btn l-btn-small">提交</button>
    </div>
</from>

<script>
    $(function(){
        $('inputkkkk').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    })
</script>