<table id="dg-group" style="height:100%;width: 100%;">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'id',sortable:true">ID</th>
        <th data-options="field:'title',sortable:true">角色名</th>
        <th data-options="field:'rules',width:10">拥有权限</th>
        <th data-options="field:'status',align:'center',formatter:luck.datagrid_status">状态</th>
        <th data-options="field:'operate',align:'center',formatter:rowoperate">操作</th>
    </tr>
    </thead>
</table>

<div id="tb-group">
    <table cellpadding="0" cellspacing="0" style="width:100%">
        <tr class="clearfix">
            <td class="luck-tool-button luck-left">
                <a href="#" class="easyui-linkbutton button-blue" plain="true" onclick="group_tool.add();"><i class="fa fa-plus fa-lg"></i> 添加</a>
                <a href="#" class="easyui-linkbutton button-teal" plain="true" onclick="group_tool.edit();"><i class="fa fa-edit fa-lg"></i> 修改</a>
                <a href="#" class="easyui-linkbutton button-red" plain="true" onclick="group_tool.remove();"><i class="fa fa-close fa-lg"></i> 删除</a>
            </td>
            <td class="luck-tool-button luck-left">
                <div class="datagrid-btn-separator"></div>
            </td>
            <td class="luck-tool-button luck-left">
                <a href="#" class="easyui-linkbutton button-black" plain="true" onclick="group_tool.refresh();"><i class="fa fa-refresh fa-lg"></i> 刷新</a>
            </td>
            <td class="luck-tool-button luck-text-right luck-right">
                角色名: <input class="easyui-textbox" name="title" style="width:200px">
                <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="group_tool.search();">Search</a>
            </td>
        </tr>
    </table>
</div>

<script>
    var dg_group=$('#dg-group');
    $(function(){
        dg_group.datagrid({
            url:"{:url('admin/group/index')}",
            method:'post',
            idField:'id',
            nowrap:'false',
            fitColumns:true,
            rownumbers:true,
            sortName:'id',	//选择字段排序
            sortOrder:'asc',	//默认排序的方式 asc/desc
            pagination:true,	//开启分页
            pageSize:PAGE_SIZE,	//默认分页数
            pageList:PAGE_LIST,	//分页模式
            selectOnCheck:true,
            checkOnSelect:true,	//点击行选中
            singleSelect:false,	//多选
            loadMsg:'加载中...',
            striped:true,	//添加斑马线
            toolbar: '#tb-group',
            emptyMsg:'<span class="font-pink">没有记录</span>',
        });

    });
    function rowoperate(val,row,index){
        return '<a href="#" class="easyui-linkbutton button-blue luck-row-small" plain="true" onclick="group_tool.lookup('+row.id+');"><i class="fa fa-cog fa-lg"></i> 配置</a> ' +
                '<a href="#" class="easyui-linkbutton button-teal luck-row-small" plain="true" onclick="group_tool.edit('+row.id+');"><i class="fa fa-edit fa-lg"></i> 修改</a> ' +
                '<a href="#" class="easyui-linkbutton button-red luck-row-small" plain="true" onclick="group_tool.remove('+row.id+');"><i class="fa fa-close fa-lg"></i> 删除</a>';
    }
    var group_tool={
        add:function(){
            $('#add-dialog').dialog({
                title: '添加用户组',
                width:500,
                height:250,
                closed: false,
                cache: false,
                cls:'theme-panel-deepblue luck-dialog-buttons',
                modal: true,
                href:"{:url('admin/group/add')}",
                buttons:[{
                    cls:'easyui-linkbutton button-blue',
                    iconCls:'fa fa-check fa-lg',
                    text:'保存',
                    handler:function(){
                        group_tool.add_save();
                    }
                },{
                    iconCls:'fa fa-close fa-lg',
                    text:'关闭',
                    handler:function(){
                        luck.closeDialog();
                    }
                }],
                fit: false,
                onBeforeOpen:function(){
                    $('#add-dialog').window('center');
                }
            });
            //清除关闭数据没清空问题
            $("#form-add").form('clear');
        },
        edit:function(id){
            if(id){
                group_tool.clearselect();
            }
            var rows=dg_group.datagrid('getSelections');
            if(rows.length==1 || id){
                $('#add-dialog').dialog({
                    title: '修改用户组',
                    width:500,
                    height:250,
                    closed: false,
                    cache: false,
                    cls:'theme-panel-deepblue luck-dialog-buttons',
                    modal: true,
                    href:"{:url('admin/group/edit')}",
                    queryParams: {
                        id:id?id:rows[0].id,
                    },
                    buttons:[{
                        cls:'easyui-linkbutton button-blue',
                        iconCls:'fa fa-check fa-lg',
                        text:'保存',
                        handler:function(){
                            group_tool.edit_save();
                        }
                    },{
                        iconCls:'fa fa-close fa-lg',
                        text:'关闭',
                        handler:function(){
                            luck.closeDialog();
                        }
                    }],
                    fit: false,
                    onBeforeOpen:function(){
                        $('#add-dialog').window('center');
                    }
                });
            }else{
                $.messager.alert('警告', '编辑数据需要操作一条,且最多只能操作一条!!', 'warning');
            }
        },
        lookup:function(id){
            if(id){
                group_tool.clearselect();
            }
            var rows=dg_group.datagrid('getSelections');
            if(rows.length==1 || id){
                $('#lookup').dialog({
                    title: '配置用户组权限',
                    width:350,
                    height:550,
                    closed: false,
                    cache: false,
                    cls:'theme-panel-deepblue luck-dialog-buttons',
                    modal: true,
                    href:"{:url('admin/group/rule')}",
                    queryParams: {
                        id:id?id:rows[0].id,
                    },
                    buttons:[{
                        cls:'easyui-linkbutton button-blue',
                        iconCls:'fa fa-check fa-lg',
                        text:'保存',
                        handler:function(){
                            var node1=$('#group-rule').tree('getChecked','indeterminate');
                            var node2=$('#group-rule').tree('getChecked');
                            var node=node1.concat(node2);
                            var ids=[];
                            node.forEach(function(value,index,array){
                                ids.push(value.id);
                            });
                            $("input[name='rules']").val(ids.join(','));

                            $("#form-edit").form('submit',{
                                url:"{:url('admin/group/edit')}",
                                onSubmit:function(){
                                    var isValid = $(this).form('validate');
                                    isValid?$.messager.progress():"";
                                    return isValid;
                                },
                                success:function(data){
                                    luck.success(data,dg_group,$('#lookup'));
                                }
                            })
                        }
                    },{
                        iconCls:'fa fa-close fa-lg',
                        text:'关闭',
                        handler:function(){
                            $('#lookup').dialog('close');
                        }
                    }],
                    fit: false,
                    onBeforeOpen:function(){
                        $('#lookup').window('center');
                    }
                });
            }else{
                $.messager.alert('警告', '编辑数据需要操作一条,且最多只能操作一条!!', 'warning');
            }
        },
        remove:function(id){
            if(id){
                group_tool.clearselect();
            }
            var rows=dg_group.datagrid('getSelections');
            if(rows.length>0 || id){
                var ids=[];
                var confirmmsg='您要删除所选的记录吗？';
                if(id){
                    ids.push(id);
                    confirmmsg='您要删除这一条记录吗？';
                }else{
                    for(var i=0;i<rows.length;i++){
                        ids.push(rows[i].id);
                    }
                }

                $.messager.confirm('确定操作', confirmmsg, function (flag) {
                    if(flag){

                        $.ajax({
                            type:"post",
                            url:'{:url("admin/group/remove")}',
                            data:{
                                id:ids,
                            },
                            beforeSend : function () {
                                dg_group.datagrid('loading');
                            },
                            success : function (data, response, status) {
                                luck.success2(data,dg_group);
                            },
                            complete:function(){
                                dg_group.datagrid('loaded');
                            },
                            error : function(){

                            }
                        });
                    }
                });
            }else{
                $.messager.alert('警告', '删除数据需要操作至少一条!!', 'warning');
            }
        },
        refresh:function(){
            dg_group.datagrid('reload');
            group_tool.clearselect();
        },
        add_save:function(){
            $("#form-add").form('submit',{
                url:"{:url('admin/group/add')}",
                onSubmit:function(){
                    var isValid = $(this).form('validate');
                    isValid?$.messager.progress():"";
                    return isValid;
                },
                success:function(data){
                    luck.success(data,dg_group);
                }
            })
        },
        edit_save:function(){
            $("#form-add").form('submit',{
                url:"{:url('admin/group/edit')}",
                onSubmit:function(){
                    var isValid = $(this).form('validate');
                    isValid?$.messager.progress():"";
                    return isValid;
                },
                success:function(data){
                    luck.success(data,dg_group);
                }
            })
        },
        search:function(){
            dg_group.datagrid('load',{
                'search_title': $('input[name=title]').val()
            });
        },
        clearselect:function(){
            dg_group.datagrid('clearSelections');
        }
    }
</script>