<form id="form-pass" method="post" class="luck-from">
    <div class="group-label">
        <span class="luck-block">原始密码：</span>
        <input type="text" class="easyui-validatebox easyui-passwordbox w250" iconWidth="28" name="password" data-options="required:'true'">
    </div>
    <div class="group-label">
        <span class="luck-block">新密码：</span>
        <input type="text" class="easyui-validatebox easyui-passwordbox w250" iconWidth="28" name="new_password">
    </div>
    <div class="group-label">
        <span class="luck-block">确认密码：</span>
        <input type="text" class="easyui-validatebox easyui-passwordbox w250" iconWidth="28" name="confirm_password">
    </div>
</form>